{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <h1>Games</h1>
    <div class="row">
        {% for game in games %}
            <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <img src="{{ game.img }}" class="card-img-top" alt="Picture of game">
                    <h5 class="card-title">{{ game.name }}</h5>
                    <p class="card-text">{{ game.song_count }}</p>
                    <a href="/games/{{ game.name }}" class="btn btn-primary">See Songs</a>
                </div>
            </div>
            </div>
        {% endfor %}
    </div>
    {% endblock %}
</body>
</html>